@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

*{box-sizing: border-box}
html {
    background: linear-gradient(to bottom, rgba(151,203,241, 0.63), rgba(155,220,91, 0.63),rgba(255, 255, 255, 0.63));
    background-size: cover;
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
#navi{
    font-family: 'Inter', sans-serif;
    color: #4a6357;
}

#heading {
    font-family: 'Inter', sans-serif;
    color: #4a6357;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    padding-bottom: 50px;
    margin-bottom: 10px;

}

.box {
    border-radius: 18px;
    background: #ffffff;
    padding: 20px;
    width: 60%;
    height: 100%;
    margin: 10px auto;
}


#coupon-list {
    max-height: 300px; /* Adjust this value as needed */
    overflow-y: auto;
}

.logo {
    max-width: 50px; /* Adjust as needed */
    height: auto;
}

td:nth-child(1) {
    width: 60%;
}

td:nth-child(2) {
    width: 40%;
    text-align: right;
}

.points {
    margin-right: 20px; 
    background-color: #80d2aa;
    border-radius: 20px; 
    padding: 10px; 
    display: inline-block;
    color: rgb(7, 54, 19);
    text-align: center;
}

.points:hover {
    background-color: rgb(166, 205, 87);
    color:aliceblue;
}

.text {
    margin-left: 20px;
    color: #4a6357;
}


/* Styling the scrollable elements */
::-webkit-scrollbar {
    width: 10px; 
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Add a background color to the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4c6955; /* Add a background color to the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #426334; /* Add a background color to the handle when hovered */
}
